
body {
    font-family: 'Gill Sans';
    background: #c7b2e4;
    
    padding: 20px;
}

h1 {
    text-align: center;
}

.texto {
    margin: 4px 0;
}

#resultado {
    margin-top: 2px;
    padding: 10px;
    background: #74e831;
    border-radius: 30px;
    min-height: 20px;
}

.modo-noche {
    background: #0e1237 !important;
    color: white !important;
}
